<template>
  <div>
    <button @click="incrementCounterImpl" class="increment">+</button>
    <span>{{ counter }}</span>
    <button @click="decrementCounterImpl" class="decrement">-</button>
    <button @click="resetCounterImpl" class="reset">reset</button>
  </div>
</template>

<script>
import {
  getCounter,
  incrementCounter,
  decrementCounter,
  resetCounter,
} from '../service/counter_service';

const VALIDATOR = {
  INCREASABLE: 0,
  DECREASABLE: 1,
  BOTH: 2,
  UNDEFINED: 3,
};

function validateNumber(value) {
  if (value === 0) {
    return VALIDATOR.INCREASABLE;
  } else if (value === 9) {
    return VALIDATOR.DECREASABLE;
  } else if (value > 0 && value < 9) {
    return VALIDATOR.BOTH;
  } else {
    return VALIDATOR.UNDEFINED;
  }
}

async function getCounterImpl() {
  this.counter = await getCounter();
  return this.counter;
}

async function incrementCounterImpl() {
  const validateCounter = validateNumber(this.counter);
  if (validateCounter == 0 || validateCounter == 2) {
    this.counter = await incrementCounter();
  }
}

async function decrementCounterImpl() {
  const validateCounter = validateNumber(this.counter);
  if (validateCounter == 1 || validateCounter == 2) {
    this.counter = await decrementCounter();
  }
}

async function resetCounterImpl() {
  this.counter = await resetCounter();
}

export default {
  data() {
    return {
      counter: this.getCounterImpl(),
    };
  },

  methods: {
    getCounterImpl,
    incrementCounterImpl,
    decrementCounterImpl,
    resetCounterImpl,
    validateNumber,
  },
};
</script>

<style scoped>
button {
  margin: 20px;
  margin-top: 40px;
}
</style>
